
body {
    margin: 0;
        color: #000;
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 14px;
        font-weight: 500;
    
    }
    .global-container{
      width: 100%;
    }
      
    a {
        text-decoration: none;
        display: inline-block;
    }
      header {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 20px;
        position:fixed;
        background-color: #fff;
        z-index: 10;
    }
    
    .logo{
      position: absolute;
          display: inline-block;
          margin: auto;
          height: 20px;
          width: 185px;
    }
    .humbergur-menu {
        position: fixed;
        top: 10px;
        right: 30px;
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        z-index: 11;
    }
    
    .line{
        display: block;
        position: fixed;
        content: "";
        position: absolute;
        top: 45%;
        width: 30px;
        height: 3px;
        background-color:#000;
        border-radius: 20px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
    .line2{
        display: block;
        position: fixed;
        content: "";
        position: absolute;
        top: 15%;
        width: 30px;
        height: 3px;
        background-color:#000;
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
    .line3{
        display: block;
        position: fixed;
        content: "";
        position: absolute;
        top: 75%;
        width: 30px;
        height: 3px;
        background-color:#000;
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
    
    
      
    .header-container{
        display: flex;
        justify-content: space-between;
        margin-left: 36px;
        margin-right: 36px;
        height: 20px;
        position: relative;
        
    
      
      &.nav {
        display: inline-block,flex;
        height: 100%;
        position: relative;
    
      }
    
    }
    ul {
        width: 718px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;
        visibility: hidden;
        
    }
      
      
    // .manu-li {
    //     list-style: none;
    //     margin: auto;
    //     margin-right: 45px;
    //     display: block;
    // }
    // li a{
    //       color: black;
    //       width: 66px;
    //       height: 22px;
    //       text-align: center;
    //         font-weight: bold;
    //         font-size: 14px;
    //    }
    // .span0{
    //   display: block;
    //   font-size: 10px;
    //   line-height: 10px;
    // }
    
    
    // .button-link{
    //   padding: 0 20px;
    //   align-items: center;
    //   background-color: #F79214;
    //   border: none;
    //   border-radius: 38px;
    //   color: #fff;
    //   cursor: pointer;
    //   display: flex;
    //   font-weight: 700;
    //   justify-content: center;
    //   text-decoration: none;
    //   text-align: center;
    //   width: 100%;
    //   font-size: 12px;
    //   height: 40px;
    //   transition: 0.2s;
    //   &:hover{
    //     opacity: 0.8;
    
    //   }
    // }
    
    
    .main-area{
        z-index: 1;
        background-image: url(/img/top-hero.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 100px;
        padding-bottom: 28px;
        height: 535px;
    }
    
    .main-container{
      max-width: 1140px;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height: 535px;
      margin-top: -20px;
    
    }
    .main-contents{
        width: 498px;
        height: 411px;
        margin-bottom: 50px;
    
    }
      
        
    .main-title{
          color: #000;
          font-family: 'Lato', sans-serif;
          font-size:18px;
          font-weight: 700;
          line-height: 54px;
          margin-bottom: 15px;
          text-align: center;
          width: auto;
          height: 108px
    }
    .circle-container{
          display: flex;
          margin-bottom: 25px;
          height:200px;
    }
    .circle-image{
          height: 200px;
          margin-right: 8px;
          &img{
            vertical-align: middle;
            height: 200px;
          }
        }
    
    .button-container{
         display: flex;
         width: 498px;
     } 
    
    .button-02 {
      align-items: center;
      background-color: #F79214;
      border: none;
      border-radius: 38px;
      color: #fff;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: 700;
      height: 64px;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      width: 306px;
      height: 64px;
      margin-right: 15px;
      transition: 0.2s;
      &:hover{
        opacity: 0.8;
    
      }
    }
    .button-03{
        background-color: #fff;
        border: 1px solid #E0E0E0;
        color: #000;
        width: 176px;
        align-items: center;
        border-radius: 38px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        height: 64px;
        transition: 0.2s;
        &:hover{
          opacity: 0.8;
      
        }
    
    }
    
    .caption-text{
          color: #A2A2A4;
          font-size: 12px;
    }   
    
    .aboutsection {
        width: 100%;
        background-color:hsl(33, 93%, 52%);
        position: relative;
        padding: 45px 0;
       
    }
    
    .about-container {
        position: absolute;
        height: 250px;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        align-items: center;
        display:block;
        justify-content: space-between;
        color: white;
    }
     .about-contents{
      max-width: 1140px;
      position: relative;
      align-items: center;
      justify-content: space-between;
      width: 100%;
     }
    .about-title{
      & span{
        font-size: 45px;
        font-family: 'Lato', sans-serif;
       font-weight: 900;
      }
     font-size: 35px;
     font-weight: 600;
     letter-spacing: 1px;
     width: 100%;    
     color: #fff;
     text-align: left;
     margin: 0;
    }
     p{
       font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        margin-top: 15px;
    }
    .about-button{
      margin:auto;
      margin-top: 50px;
      display: block;
      align-items: center;
      border: none;
      border-radius: 38px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      height:60px;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      width: 250px;
      color: #F79214 !important;
      background-color: #fff;
      position: relative;
      transition: 0.2s;
      &:hover{
        opacity: 0.8;
    
      }
    
    
    }
    
    
    
      .span1{
        margin-bottom: 0;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 700;
        line-height: 32px;
      }
      .span2{
        top: -10px;
        font-size: 12px;
        line-height: 18px;
    
      }
    
    